* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/*font-family: 'Epilogue', sans-serif;*/
/*Default css for mobile interface*/

body {
    background-color: cornflowerblue !important;
}

/*End of the mobile css*/

@media only screen and (min-width:1280px) {
    body {
        background-color: darkgoldenrod !important;
    }

    .nav-wrapper {
        width: 100vw !important;
        justify-content: space-between;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 2rem;
    }

    .nav-left-col {
        flex: 50%;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
    }

    .nav-right-col {
        flex: 50%;
        width: 100%;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }

    .nav-right-col button {}
}