* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

:root {
    --testMobileBg: cornflowerblue;
    --testDesktopBg: darkgoldenrod;

    --text: #6b6b6b;
    --hover: #141414;
}

/* - font-family: 'Epilogue', sans-serif;*/
/* - Menu text color : #141414*/
/* - Menu text hover color : #6b6b6b*/
/*Default css for mobile interface*/

body {
    background-color: var(--testMobileBg) !important;
}

/*End of the mobile css*/

@media only screen and (min-width:1280px) {
    body {
        background-color: var(--testDesktopBg) !important;
    }

    .nav-wrapper {
        width: 100vw !important;
        justify-content: space-between;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 2rem;
        font-size: 18px;
        font-family: 'Epilogue', sans-serif;
        font-weight: 500;
    }

    .nav-left-col {
        flex: 50%;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
    }

    .nav-right-col {
        flex: 50%;
        width: 100%;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }

    .nav-right-col button {}
}