* {
    margin: 0;
    padding: 0;
}

/*font-family: 'Epilogue', sans-serif;*/
/*Default css for mobile interface*/

body {
    background-color: cornflowerblue !important;
}

/*End of the mobile css*/

@media only screen and (min-width:1280px) {
    body {
        background-color: darkgoldenrod !important;
    }
}